.messageContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    max-height: 400px;
    max-width: 250px;
    margin: 20px 10px;
    border-radius: 10px;
}

.messageContent {
    border-radius: 15px;
    padding: 0 15px;
    height: auto;
    width: auto;
    align-items: center;
    overflow-wrap: break-word;
    word-break: break-word;
    background: #01ffd7;
    color: black;
}

.messageMeta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    padding:0 10px 10px 20px;
}

.messageMeta p{
    padding: 0;
    margin: 0;
}

