.messageMy {
    justify-content: flex-end;
    width: auto;
    margin: 10px;
    max-width: 300px;
    height: auto;
    max-height: 50px;
    background: #80b0ee;
    border-radius: 10px;
    padding: 5px 10px;
}

.messageFriend {
    justify-content: flex-start;
    float: right;
    width: auto;
    margin: 10px;
    max-width: 200px;
    height: 20px;
    background: #80b0ee;
    border-radius: 10px;
    padding: 5px 10px;
}
